.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 50vh;
    text-align: center;
    margin: auto;
}

.azul{
    color: white;
    background-color: lightseagreen;
    border: 1px black solid;
}

.vermelho{
    color: white;
    background-color: red;
    border: 1px black solid;
}

.verde{
    color: white;
    background-color: lightgreen;
    border: 1px black solid;
}

.amarelo{
    color: black;
    background-color: yellow;
    border: 1px black solid;
}